{% extends 'base.html.twig' %}

{% block title %}Fuse | ressources{% endblock %}

{% block body %}

    <div class="text-center mt-3">
        <h1>Toutes les ressources</h1>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        <br>

        {% if role == "ROLE_ADMIN" %}
            <div class="card-group justify-content-lg-center">
                <div class="col-md-3 text-center">
                    <a href="/ressource/new" class="btn btn-primary">Nouvelle ressource</a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="/admin/ressource" class="btn btn-warning">Éditer</a>
                </div>
            </div>
            {% else %}
                <div class="card-group justify-content-lg-center">
                    <div class="col-md-3 text-center">
                        <a href="/ressource/new" class="btn btn-primary">Nouvelle ressource</a>
                    </div>
                </div>
        {% endif %}

        <br>
        <br>

        <div class="container m-lg-1">
            <div class="row flex">
                {% for ressource in ressources %}
                    <div class="col-3">
                        <div class="container mt-5" id="Ressource">
                            <div class="card" style="width: 18rem;">
                                <div class="card-header">{{ ressource.category }}</div>
                                <img class="card-img-top" src="/pictures/ressources/{{ ressource.ressourcePicture }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <ul style="list-style-type:none;">
                                        {% for ra in ressource.ressourceAttributes %}
                                            <li> {{ ressource.category.categoryAttributes[loop.index - 1].name }}: <b>{{ ra.value }}</b>
                                                {% if ressource.category.categoryAttributes[loop.index - 1].unity %}
                                                    {{ ressource.category.categoryAttributes[loop.index - 1].unity.symbol }}
                                                {% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                    <a href="{{ path('proposal.new', {ressId: ressource.id}) }}" class="btn btn-primary">Offrir/Demander</a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock %}

