{{ form_start(form) }}

<br>
<br>

<div class="row">
    <div class="col-md-4 text-center">{{ form_row(form.parent) }}</div>
    <div class="col-md-4 text-center">{{ form_row(form.name) }}</div>
    <div class="col-md-4 text-center">{{ form_row(form.description) }}</div>
</div>

<button class="btn-primary mt-4">Boudoum</button>


{{ form_end(form) }}