{% extends 'base.html.twig' %}

{% block title 'Fuse | gérer ressources' %}

{% block body %}

    <div class="container mt-4">
        <h1> Gérer les ressources </h1>
        <table class="table table-striped">
            <thead>
{#            les entetes du tableau#}
            <tr>
                <th>Catégorie</th>
                <th>Caractéristiques</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
{#            le corps du tableau#}

            {% for ressource in ressources %}
            <tr>

                <td>
                    {{ ressource.category }}
                    {% if ressource.category.mother  %}
                        ({{ ressource.category.mother }})
                    {% endif %}
                </td>
                <td>
{#                    {% for r in ressource.ressourceAttribute %}#}
{#                        {{ r.value }} {{ ressource.category.categoryAttributes[loop.index - 1].unity }}#}
{#                    {% endfor %}#}
                </td>
                <td>
                    <a href="{{ path('admin.ressource.edit', {id: ressource.id}) }}" class="btn btn-secondary">Éditer</a>
{#                    pour permettre d'avoir un bouton delete qui mene vers la meme route que edit mais pour delete, display c'est pour que ca soit joli#}

                    <a href="{{ path('admin.ressource.delete', {id: ressource.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sur de vouloir supprimer ?')">Supprimer</a>



                    {#                    <form method="post" action="{{ path('admin.ressource.delete', {id: ressource.id}) }}" style="display: inline-block">#}
{#                        un imput caché avec le parametre _method qui permet de changer le nom de la methode différent de POST#}
{#                        <imput type="hidden" name="method" value="DELETE">#}
{#                                pour concatener le nom du token avec l'id de la ressource#}
{#                            <imput type="hidden" name="token" value="{{ csrf_token('delete' - ressource.id) }}">#}
{#                            <button class="btn btn-danger">Supprimer</button>#}
{#                    </form>#}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}